<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
  <%- include('./partial/nav.ejs') %>
  <div class="max-w-4xl mx-auto">
    <img src="/not-found.svg" alt="not found" class="flex justify-center items-center">
  </div>
    <%- include('./partial/footer.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>