<footer class="bg-yellow-400 dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
          <a href="/" class="flex items-center">
            <h2 class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Eventrix</h2>
          </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Link</h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
              <li class="mb-4">
                  <a href="/" class="hover:underline">All Events</a>
              </li>
              <li class="mb-4">
                  <a href="/about" class="hover:underline">About Eventrix</a>
              </li>
              <li class="mb-4">
                  <a href="/form" class="hover:underline">Add a New Event</a>
              </li>
          </ul>
        </div>
          <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                    <a href="#" class="hover:underline ">Twitter</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Facebook</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Linkedin</a>
                </li>
                <li class="mb-4">
                    <a href="#" class="hover:underline">Instagram</a>
                </li>
            </ul>
          </div>
          <div>
            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium">
              <li class="mb-4">
                  <a href="#" class="hover:underline">Privacy Policy</a>
              </li>
              <li>
                  <a href="#" class="hover:underline">Terms &amp; Conditions</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</footer>
